/* Dine styles her */
article > *
{
    margin-block: var(--flow-space, .5rlh);
}

article
{
    h2
    {
        --flow-space: 2rlh;
    }

    h3
    {
        --flow-space: 1rlh;
    }

    h3 + *
    {
        --flow-space: .25rlh;
    }
}