:root {
    --color-heading: #0B0D19;
    --color-body: #677386;
    --color-bg-button: #3D7BFA;
    --color-text-button: #FFF;

    /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
    --hide-overlay: 1;
}


/* Begynd her... */
.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    padding: 0 40px;
    align-items: center;
    height: 100vh;
}

.container .description header
{
    font-size: 4rem;
    font-weight: bold;
}

.container .description p
{
    margin: 40px 0;
}

.container .description a.btn
{
    color: var(--color-text-button);
    background-color: var(--color-bg-button);
    padding: 10px 15px;
    border-radius: 50px;
    transition: opacity .15s ease-in;
}

.container .description a.btn:hover
{
    opacity: .9;
    transition: opacity .15s ease-in;
}

.gallery
{
    display: grid;
    gap: 20px;
}

.gallery img
{
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

@media screen and (min-width: 768px)
{
    .container
    {
        height: 100vh;
        flex-direction: row;
    }

    .container > *
    {
        flex: 1;
    }

    .gallery
    {
        grid-template-areas:
            ".        imgOne        ."
            "imgTwo  imgThree imgFour"
            "imgFive imgThree imgSix "
            ".       imgSeven       ."
    }

    .gallery img:nth-child(1)
    {
        grid-area: imgOne;
    }

    .gallery img:nth-child(2)
    {
        grid-area: imgTwo;
    }

    .gallery img:nth-child(3)
    {
        grid-area: imgThree;
    }

    .gallery img:nth-child(4)
    {
        grid-area: imgFour;
    }

    .gallery img:nth-child(5)
    {
        grid-area: imgFive;
    }

    .gallery img:nth-child(6)
    {
        grid-area: imgSix;
    }

    .gallery img:nth-child(7)
    {
        grid-area: imgSeven;
    }
}