---
import Card from "./Card.astro";

const { data } = Astro.props;
---

<article>
  {
    data.map(({ year, months }) => (
      <section>
        <h2>{year}</h2>

        {months.map(({ month, cards }) => (
          <div>
            <p>{month}</p>
            <div>
                {cards.map((props) => (
                    <Card {...props} />
                ))}
            </div>
          </div>
        ))}
      </section>
    ))
  }
</article>

<style>
  @layer components {
     
   section > div
   {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
   }

   section > div > *
   {
    flex: 1;
   }
    h2
    {
        font-size: 1.35rem;
        line-height: var(--space-1);
        color: #f5f5f7;
        margin-top: 20px;
    }

    p {
        left: 100px;
      font-size: 1.15rem;
      font-weight: 500;
      color: #909194;
    }

    h2, p
    {
        position: sticky;
        top: 0;
        align-self: start;
    }
  }
</style>
